.site-header{
    width: 100%;
    position: absolute;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: white;
    z-index: 10;
    word-break: break-all;
    box-sizing: border-box;
}
header{
    display: block;
}
.header-width{
    max-width: 100%;
    margin: 0 31px 0 36px;
    position: relative;
}
.contents-tidy{
    display: flex;
   justify-content: space-between;
}
body, div, p, ul, ol, li, dl, dt, dd, table, th, td, 
img, figure, h1, h2, h3, h4, h5, h6, form, select{
    padding: 0;
    margin: 0;
} 
div{
    display: block;
}
a{
    color: #222;
    text-decoration: none;
}
body {
    font-family: 游ゴシック, YuGothic, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
}
.header-logo > .header.logo-pc{
    display: none;
    width: auto;
    height: 20px;
}
img{
    border: 0;
    vertical-align: middle;
}
.header-logo > .header-logo-sp{
    display: inline-block;
    width: auto;
    height: 16px;
}
.site-header .site-header-inner > *:last child{
    display: inline-flex;
}
nav{
    display: block;
}
.header-nav .header-nav-hamburger{
    cursor: pointer;
    display: block;
    position: relative;
    width: 30px;
    height: 21px;
    z-index: 100;
}
.heade-nav .header-nav-list.is-active{
    transform: translate3d(-100%, 0, 0);
}
.header-nav .is-active .header-nav-hamburger-line:first-child{
    top: 50%;
    transform: translate(0, -50%) rotate( 45deg);
    opacity: 1;
}
.header-nav .is-active .header-nav-hamburger-line{
    will-change: top;
}
.header-nav .header-nav-hamburger-line:first-child{
    top: 0;
}
.header-nav .header-nav-hamburger-line{
    position: absolute;
    top: 50%;
    display: block;
    width: 100%;
    height: 3px;
    background-color: #222;
    transform: translate(0,　-50%);
    border-radius: 10px;
    transition: top 0.2s, transform 0.2s, opacity 0.3s;
}
.header-nav .header-nav-hamburger-line:last-child{
    top: 100%;
}


.header-nav .header-nav-list{
    top: 52px;
    overflow-y: scroll;
    position: fixed;
    left: 100%;
    width: 100%;
    display: block;
    padding-top: 20px;
    transition: trabsform 0.5s;
    z-index: 99;
    background-color: rgba(0,0,0,0.8);
    
}
.header-nav-list .contents-tidy{
    align-items: center;
}
ul, ol{
    list-style: none;
}
ol {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
li{
    display: list-item;
    text-align: -webkit-match-parent;
}
.header-nav .header-nav-item{
    padding :20px 0px;
    display: block;
}
.header-nav .header-nav-item >span:first-child{
    font-family: 'lato',sans-serif;
    font-size: 16px;
    letter-spacing: 5px;
    color: #fff;
}
.header-nav .header-nav-item > span:last-child {
    font-size: 12px;
    margin-top: 10px;
    color: #f79314;
    letter-spacing: 2px;
}
.header-nav .header-nav-item > span{
    display: block;
    font-weight: bold;
    text-align: center;
}
.header-nav .header-nav-list > li+li {
    margin-left: 0;
} 
.header-nav-list > li+li:last-child{
    margin-left: 0;
}
.header-button{
    margin: 0 auto;
    width: 250px;
} 
.header-button-outline{
    margin-top: 20px;
}
.link-button{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    background-color: #f79314;
    border-radius: 30px;
    text-decoration: none;
    text-align: center;
    align-items: center;
    font-weight: bold;
    width: 100%;
    border: none;
}
.link-button-menu{
    height: 60px;
    font-size: 16px;
}
.site-header .site-header-inner > ＊:last-child{
    display: inline-flex;
}
a:-webkit-any-link{
    cursor: pointer;
}
＊, ＊:before, ＊:after {
    word-break: break-all;
    box-sizing: border-box;
}
html{
    color: rgb(34, 34, 34);
    -webkit-text-size-adjust: 100%;
    font-size: 15px;
    display: block;
}
.site-header{
    width: 100%;
    position: absolute;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #fff;
    z-index: 10;
}

main{
    padding-top: 52px;
    display: block;
}
.section-top-hero{
    padding-top: 258px;
    padding-bottom: 12px;
    background-image: url(https://camp.potepan.com/wp-content/themes/potepancamp/assets/images/top-hero-sp.png);
    background-size: auto 100%;
    background-position: right 0;
    background-repeat: no-repeat;
}
section{
    display: block;
}
.content-width{
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
.top-hero-box{
    max-width: 250px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
:-wekit-any（ article, aside, nav, section ）h1 {
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
}
h1{
    display: block;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
.top-hero-box .top-hero-heading > img {
    width: 100%;
    height: auto;
}
img{
    border: 0;
    vertical-align: middle;
} 
.top-hero-box .top-hero-text{
    font-size: 15px;
    text-shadow: 0 0 10px rgb(255 255 255 / 60%);
    font-weight: 700;
    text-align: left;
    white-space: nowrap;
    line-height: 1.7;
}
.top-hero-box > ＊ + ＊{
    margin-top: 20px;
    
}
p{
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    line-height: 1.5;
}
.top-hero-box .top-hero-text > span{
    color: #f79314;
}
.link-button .no-subtitle{
    font-size: 16px;
}
.link-button{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    background-color: #f79314;
    border-radius: 30px;
    text-decoration: none;
    text-align: center;
    align-items: center;
    font-weight: bold;
    width: 100%;
    height: 60px;
    border: none;
}
.top-hero-box .No1-notation{
    top : -118px;
    left: -56px;
    right: 0;
    margin: 0;
    position: absolute;
}
.top-hero-box .No1-notation img{
    width: 120px;
    height: 120px;
}

.section-top-hero .proviso{
    padding-top: 24px;
    color: #888;
    font-size: 10px;
    max-width: 512px;
}
.proviso p{
    background-color: inherit;
    color: inherit;
    padding: 4px;
}

.main-section.top-about {
    background-color: #f79314;
    padding-top: 45px;
}
.main-section{
    padding-bottom: 60px;
    padding-top: 60px;
}
.banner-for-students--pc{
    display: none;
}
.banner-for-students{
    width: 100%;
    margin-bottom: 50px;
}
.banner-for-students--sp{
    margin: 0 0 50px 7.5px;
    display: block;
}
.top-about .contents-tidy{
    align-items: center;
}
.top-about-content{
    flex-direction: column;
    width: 100%;
}
.about-text, .top-about-button{
    width: 100%;
}
.about-text{
    color: #fff;
}
.about-text h2{
    font-size: 26px;
    text-align: center;
    letter-spacing: 1px;
}
h2{
    display: block;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
.about-text h2 > span{
    font-size: 30px;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
}
.about-text p{
    font-weight: 700;
    margin-top: 15px;
    line-height: 2.3;
}
.link-button.inversion{
    color: #f79314;
    background-color: #fff;
    margin-right: 10px;
}
.link-button{
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    background-color: #f79314;
    border-radius: 30px;
    text-decoration: none;
    text-align: center;
    align-items: center;
    font-weight: bold;
    width: 100%;
    height: 60px;
    border: none;
}
.link-button span:first-child{
    letter-spacing: 4px;
    line-height: 1.5;
    font-family: 'Lato',sans-serif;
}
.link-button span:last-child{
    font-size: 12px;
}
.about-text + .top-about-button{
    margin-top: 40px;
    width: 250px;
}
.section-header.contents-tidy{
    flex-direction: column;
    align-items: center;
}
.section-header{
    width: 100%;
}
.section-main-heading{
    text-align: center;
    font-size: 26px !important;
    line-height: 1.2;
    font-weight: bold;
}
.section-header h2 >span{
    letter-spacing: 1px;
    font-size: 30px;
}
.section-header h2 > span,.section-main-heading span{
    font-family: 'Lato', sans-serif;
    font-weight: 900;
}
.section-sub-heading{
    font-size: 14px;
    display: inline-block;
    margin-top: 10px;
    font-weight: bold;
    text-align: center;
}
.section-sub-heading >span{
    font-family: 'Lato', sans-serif;
}
.section-header.bottom-line::after {
    content: '';
    display: block;
    border-bottom: solid 6px #f79314;
    width: 50px;
    margin-top: 20px;
}
.main-section .section-header + .section-content{
    margin-top: 50px;
}
.desc-list.list-number{
    margin-top: 90px;
}
.desc-list > li{
    padding: 30px 20px 20px 20px;
    background-color: #fcfaf5;
    border-radius: 20px;
    text-align: center;
}
.desc-list .list-no {
    font-size: 30px;
    height: 80px;
    margin-top: -70px;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: -90px auto 0 auto;
    background-color: #fcfaf5;
    border-radius: 50%;
    color: #f79314;
    font-weight: bold;
}
.desc-list .list-title{
    font-size: 20px;
    margin-top: -10px;
    font-weight: bold;
    letter-spacing: 1px;
}
.desc-list .list-text{
    font-size: 15px;
    line-height: 2.2;
    margin-top: 30px;
    letter-spacing: 1.5px;
    font-weight: 700;
}
.desc-list .list-text span{
    font-size: 24px;
    color: #f79314;
    font-family: 'Lato' , sans-serif;
    font-weight: 900;
    line-height: 1;
}
.desc-list .example{
    background-color: #fff;
    width: 100%;
    margin-top: 40px;
    border-radius: 20px;
}
.SuccessStories{
    padding-top: 40px !important;
}
.SuccessStories__title{
    display: inline-block;
}
.SuccessStories__title > h4{
    font-size: 16px;
    display: inline-block;
    font-weight: bold;
    line-height: 1;
    vertical-align: bottom;
}
.SuccessStories__title > img{
    margin-left: 5px;
    width: 24px;
    height: auto;
}
.SuccessStories__title::after {
    margin-top: 5px;
    content: '';
    border-bottom: solid 4px #f79314;
    display: block;
}
.desc-list .example-contents{
    margin: 14px 0 0 0;
}
.desc-list .example-contents img {
    width: 60px;
    height: 60px;
}
.example-contents.contents-tidy{
    flex-wrap: wrap;
}
.SuccessStorieslist{
    flex-direction: column;
    margin-top: 25px !important;
}
.SuccessStorieslist__link {
    cursor: pointer;
    display: contents;
}
.SuccessStory{
    align-items: center;
    margin-bottom: 40px;
    padding-left: 10px;
    padding-right: 0;
    width: 100%;
    display: flex;
}
.SuccessStory__intro{
    color: #333;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin: 10px 16px;
    text-align: left;
}
.SuccessStory__intro p{
    color: #000;
    font-weight: 700;
}
.SuccessStory::after{
    margin-right: 6px;
    content: url( https://camp.potepan.com/wp-content/themes/potepancamp/assets/images/common/chevron-right.jpg );
    display: inline-block;
    height: fit-content;
    margin: auto;
    transform: scale(0.4);
}
.desc-list .example-contents .last-line{
    margin-bottom: 24px;
}
.desc-list > li + li{
    margin-top: 90px;
}
.CorporateInterviewSection{
    margin-top: 30px;
}
.CorporateInterviewList{
    margin-bottom: 4px !important;
}
.CorporateInterviewCard--with-link{
    padding: 25px 25px 30px;
}
.CorporateInterviewCard{
    display: block;
    margin: 0 auto 25px;
    background-color: #fff;
    border-radius: 10px;
    position: relative;
    text-align: left;
    width: 100%;
}
.CorporateInterviewCard__left{
    margin-bottom: 16px;   
    color: #a2a2a4;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
}
.CorporateInterviewCard__left img{
    width: 100%;
    margin-bottom: 5px;
}
.CorporateInterviewCard__left span{
    display: block;
    word-break: break-all;
    box-sizing: border-box;
}
.CorporateInterviewCard__right{
    margin: 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}
.CorporateInterviewCard__right > p {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 16px;
}
.CorporateInterviewCard__link{
    align-items: center;
    margin-top: 25px;
    position: static;
    text-align: right;
    display: flex;
    justify-content: flex-end;
    bottom: 50px;
    right: 50px;
}
.CorporateInterviewCard__link a{
    color: #a2a2a4;
    cursor: pointer;
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
}
.CorporateInterviewCard__link img{
    margin-left: 10px;
    width: 6px;
}
.slick-slider{
    position: relative;
    display: block;
    box-sizing: border-box;
    user-select: none;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent
}
.engineer-list{
    width: 100%;
    margin-left: 0;
    margin-right: auto;
    margin-top: 45px; 
}
.slick-prev {
    background-image: url(https://camp.potepan.com/wp-content/themes/potepancamp/assets/images/btn-left.png);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 30px;
    height: 30px;
    display: inline-block;
    left: -15px;
}
.slick-prev .slick-next {
    position: absolute;
    top: 44%;
    z-index: 1;
    transition-property: opacity;
    transition-duration:0.2s; 
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
    border: 0;
    outline: none;
    background-color: transparent;
}
button {
    appearance: auto;
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    text-align: center;
    align-items: flex-start;
    margin: 0em;
    font: 400 13.3333px Arial;
    padding: 1px 6px;
}
.slick-slider .slick-track, .slick-slider .slick-list{
    transform: translate3d(0,0,0);
}
.slick-list{
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
element.style{
    opacity: 1;
    width: 1876px;
    transform: translate3d(-804px, 0px, 0px);
    display: inline-block;
}
.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slick-track:before, .slick-track:after {
    display: table;
}
.slick-initialized .slick-slide{
    display: block;
}
.slick-slide{
    float: left;
    height: 100%;
    min-height: 1px;
    outline-color: initial;
    outline-style: none;
    outline-width: initial;
}
.engineer-list .engineer-box{
    margin-left: 0;
    margin-right: 0;
    background-color: #fff;
    border-radius: 15px;
    margin: 0 15px;
}
.enginner-media{
    padding: 10px 20px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
}
.engineer-conpany-logo{
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.slick-slide img {
    display: block;
}
.engineer-conpany-logo > img{
    width: 100%;
}
.engineer-profile{
    display: flex;
    align-items: center;
    width: 100%;
}
.engineer-name.contents-tidy {
    flex-direction: column;
}
.engineer-name{
    text-align: left;
    margin-left: 15px;
    font-size: 20px;
}
.engineer-name > span{
    color: #f79314;
    font-size: 14px;
}
.engineer-text{
    font-size: 15px;
    width: 100%;
    position: relative;
    background-color: #f6f6f6;
    padding:20px;
    border-radius: 10px;
    margin-top: 20px;
    text-align: left;
}
.engineer-text::before {
    content: '';
    position: absolute;
    top: -25px;
    left: 29px;
    margin-left: -15px;
    border: 15px solid transparent;
    border-bottom: 15px solid #f6f6f6;
}
.engineer-media .engineer-text > p{
    line-height: 2;
}
.engineer-profile{
    display: flex;
    align-items: center;
    width: 100%;
}
.slick-hover, slick-next:hover{
    opacity: 0.6;
}
.slick-next{
    background-image: url(https://camp.potepan.com/wp-content/themes/potepancamp/assets/images/btn-right.png);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 30px;
    height: 30px;
    display: inline-block;
    right: -15px;
}
.slick-prev, .slick-next{
    position: absolute;
    top:44%;
    z-index: 1;
    transition: opacity 0.2s ease-in-out;
    border: 0;
    outline: none;
    background-color: transparent;
}
.slick-dots{
    display: flex;
    width: 30%;
    padding: 0;
    padding-top: 20px;
    margin: 0 auto;
    list-style: none;
    justify-content: center;
}
.slick-dots li {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    margin: 0 10px;
    padding: 0;
    cursor: pointer;
    background-color: transparent;
}
.slick-dots li .slick-active button {
    background-image: url(https://camp.potepan.com/wp-content/themes/potepancamp/assets/images/btn-slide-control-click.png);
    background-repeat: no-repeat;
    width: 15px;
    height: 15px;
}
.slick-dots li button {
    background-image: url(../images/btn-slide-control-default.png);
    background-repeat: no-repeat;
    background-position: center;
    transition: opacity 0.2s ease-in-out;
    display: block;
    cursor: pointer;
    outline: none;
    background-color: transparent;
    color: transparent;
    border: 0;
    background-size: contain !important;
}

/*<!-- 04 卒業後の紹介企業が多数 -->*/
.desc-list .example-company {
    padding: 6px;
}
.desc-list .example-contents-company {
    justify-content: start;
    margin: 0;
}
.desc-list .example-contents-company > li{
    margin: 0;
    padding: 0;
    width: 50%;
    height: 71px;
}
.desc-list .example-contents > li{
    display: flex;
}
.desc-list .example-contents-company.img-box{
    align-items: center;
    background-color: #fff;
    height: 100%;
    display: flex;
    justify-content: center;
    width: calc(100% + 50px);
}
.desc-list .example-contents-company img{
    height: auto;
    max-width: 100%;
    max-height: 100%;
    width: auto;
}

/*<!-- 05 サポート体制も充実 -->*/
.desc-list .example-contents-support{
    display: block;
    justify-content: start;
    margin: 0;
    padding: 10px;
}
.desc-list .example-contents-support > li{
    margin-left: 0;
    text-indent: 0;
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
    list-style: disc;
    list-style-position: inside;
    text-align: left;
    width: 100%;
}
::marker{
    unicode-bidi: isolate;
    font-variant-numeric: tabular-nums;
    text-transform: none;
    text-indent: 0px !important;
    text-align: start !important;
    text-align-last: start !important;
}
.desc-list .example-contents-support-supplement{
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    margin: 6px 0 10px;
    text-align: left;
}
.main-section .section-header + .section-content{
    margin-top: 50px;
}

/*<!-- 04.POTEPAN CAMPの選べるコース -->*/
.main-section.top-potepan{
    padding: 60px 0;
    position: relative;
    overflow: hidden;
    background-color: #f6f6f6;
}
.main-section.top-potepan::before {
    content: '';
    position: absolute;
    top: 30px;
    left: 60%;
    display: block;
    width: 130px;
    height: 130px;
    background-image: url(https://camp.potepan.com/wp-content/themes/potepancamp/assets/images/bg-section-top-course.png);
    background-size: contain;
    background-repeat: no-repeat;
    right: 20px;
}
.top-potepan .content-width {
    background: none;
    padding-top: 0;
}
.main-section.top-potepan > ＊ {
    position: relative;
    z-index: 1;
}
.pc-dn{
    display: block !important;
}
.main-section.top-potepan .section-content{
    padding-left: 0;
    padding-right: 0;
    margin-top: 50px;
}
.main-section.top-potepan .course-list{
    padding: 0 20px;
}
.course-media {
    flex-direction: column;
    padding: 25px;
    font-weight: bold;
    background-color: #fff;
}
.main-section.top-potepan .course-list {
    padding: 0 20px;
}
.course-media.career .course-title {
    border-image: linear-gradient(to right, #f79214 0%, #f74e06 100%);
    border-image-slice: 1;
    display: flex;
    flex-direction: column;
    padding: 20px 0;
}
.course-title.contents-tidy{
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.course-title {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    border: solid 3px;
}
.course-title p {
    color: #f77f14;
    margin-bottom: 7.5px;
    font-size: 18px;
    font-weight: bold;
}
.course-title h3 {
    font-size: 24px;
}
h3 {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
.course-contents {
    width: 100%;
    margin-top: 25px;
    padding: 0;
    position: relative;
}
.course-media.career .course-text {
    color: #f77f14;
    font-size: 24px;
}
.course-text {
    line-height: 1.5;
}
.course-contents > div{
    margin-top: 25px;
    display: flex;
    align-items: center;
}
.course-contents > div p:first-of-type {
    word-break: keep-all;
    display: inline-block;
    font-size: 13px;
    font-weight: 400;
    color: #fff;
    background: linear-gradient(90deg, #212121, #444);
    padding: 6px 16px;
    border-radius: 20px;
    margin-right: 15px;
}
.course-contents > div p:last-of-type {
    font-size: 18px;
}
.course-link {
    position: static;
    text-align: right;
    margin-top: 25px;
    padding-right: 20px;
    right: 20px;
    bottom: -5px;
    font-size: 14px;
    font-weight: 700;
    color: #999;
}
.course-link:: after {
    right: 0;
    content: url(https://camp.potepan.com/wp-content/themes/potepancamp/assets/images/common/chevron-right.jpg);
    display: inline-block;
    margin: auto;
    transform: scale(0.4);
    position: absolute;
    width: 8px;
    height: 8px;
    bottom: 10px;
}
.section-button {
    margin-top: 40px;
    max-width: 250px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}
.link-button span:first-child {
    letter-spacing: 4px;
    line-height: 1.5;
    font-family: 'Lato', sans-serif;
}
.link-button span:last-child {
    font-size: 12px;
}   
/*<!-- 05.サービスの想い  - ポテパンのプログラミング学習についてかける想い - -->*/

.main-section.top-service, .main-section.top-works {
    background-color: #fcfaf5;
}
section {
    display: block;
}
.message-title {
    font-size: 32px;
    background: -webkit-linear-gradient(0deg, #ff802c, #f79214);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    color: #ff802c;
    line-height: 1;
    letter-spacing: 3px;
    position: relative;
    z-index: 1;
    margin-left: 20px;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
}
.message-contents.contents-tidy {
    align-items: center;
}
.message-contents {
    flex-direction: column;
    position: relative;
    background-color: #fff;
    padding: 45px 40px 40px;
    margin-top: -20px;
}
.message-text {
    padding: 0;
    margin-right: 0;
    margin-top: 30px;
    order: 2;
    background-color: #fff;
}
.message-text p {
    line-height: 2;
    font-weight: 500;
}
.message-text p + p {
    margin-top: 40px;
}
.message-thumbnail {
    order: 1;
    position: relative;
}
.message-thumbnail p {
    position: absolute;
    padding: 20px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    text-shadow: 1px 1px 10px #808080;
}
.message-thumbnail p span {
    font-size: 24px;
}
.message-thumbnail > img {
    width: 100%;
}
.main-section.top-servise, .main-section.top-works {
    background-color: #fcfaf5;
}

/*<!-- 06.受講生の声 -->*/

.interview-list {
    padding-left: 40px;
    padding-right: 40px;
    display: block;
    margin-left: 0;
    margin-right: 0;
}
.interview-list > li {
    padding-left: 0;
    padding-right: 0;
    width: 100%;
}
.interview-media .interview-media-thumbnail {
    position: relative;
    padding-top: 100%;
}
.interview-media-thumbnail {
    overflow: hidden;
}
.interview-media .interview-media-thumbnail img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}
.sp-dn {
    display: none !important;
}
.pc-dn {
    display: block !important;
}
.interview-media .interview-thumbnail-titlebox {
    padding: 50px 10px 10px;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8) 55%, rgba(30, 30, 30, 0));
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
.interview-media .interview-thumbnail-titlebox .interview-thumbnail-title {
    font-size: 16px;
    font-weight: bold;
    color: #f79314;
}
.interview-media .interview-thumbnail-titlebox .interview-thumbnail-subtitle {
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    margin-top: 5px;
    padding-top: 4px;
    border-top: 1px solid #fff;
}
.interview-thumbnail-subtitle {
    display: flex;
    flex-direction: column;
}
.interview-media .interview-thumbnail-titlebox .interview-thumbnail-subtitle .name {
    font-size: 20px;
}
.interview-media .interview-thumbnail-titlebox .interview-thumbnail-subtitle > ＊:last-child {
    font-size: 12px;
    margin-left: 0;
}
.interview-thumbnail-subtitle::after {
    content: '';
    display: block;
    position: absolute;
    width: 10px;
    height: 10px;
    bottom: 13px;
    right: 13px;
    border-right: solid 3px #f79214;
    border-top: solid 3px #f79214;
    transform: rotate(45deg);
}
.interview-media .interview-media-text {
    margin-top: 20px;
    font-size: 15px;
    font-weight: bold;
    line-height: 1.8;
}
.interview-list > li + li {
    margin-top: 20px;
    padding-top: 30px;
    border-top: solid 1px #efefef;
}
.section-button{
    margin-top: 40px;
    max-width: 250px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}
.site-footer{
    padding-top: 60px;
    padding-bottom: 40px;
    background-color: #f79314;
}
.site-footer-main {
    display: block;
    text-align: center;
}
.page-top-button.contents-tidy {
    align-items: center;
    justify-content: center;
}
.page-top-button {
    right: 20px;
    top: -85px;
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 12px 30px -15px;
    transition: 0.2s;
}
.page-top-arrow {
   display: inline-block;
    height: 10px;
    width: 10px;
    border-left: solid 3px #f79214;
    border-top: solid 3px #f79214;
    transform: rotate(45deg);
    text-decoration: none;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}
.site-footer-main .footer-nav {
    text-align: left;
    margin-left: 20px;
    order: 2;
}
.footer-nav-item:link, .footer-nav-item:visited {
    color: #fff;
}
.footer-nav-items {
    font-size: 16px;
    font-weight: bold;
}
.footer-nav-items > span {
    font-weight: normal;
    margin-left: 1em;
}
.footer-nav > li + li {
    margin-top: 30px;
}
.site-footer-main .footer-nav-and-character {
    margin-top: 30px;
    order: 3;
}
.site-footer-main .footer-nav-and-character .footer-nav {
    align-self: flex-start;
}
.site-footer-main .footer-nav-and-character .footer-character {
    margin: 34px auto;
    align-self: flex-end;
}
.footer-character > img {
    width: auto;
    height: 70px;
}
.site-footer-main * + .footer-info {
    margin-top: 30px;
    padding-top: 30px;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #fff;
} 
.site-footer-main .footer-info {
    order: 1;
}
.footer-info {
    display: block;
    color: #fff;
}
addless {
    font-style: normal;
}
.footer-info .footer-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 280px;
}
.footer-info .footer-logo > img {
    width: 100%;
    height: auto;
}
.footer-info .footer-logo + .footer-company {
    margin-top: 25px;
}
.footer-info .footer-company, .footer-info .footer-address {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}
.footer-info .footer-company + .footer-address {
    margin-top: 10px;
}
.footer-info .footer-address + .footer-social {
    margin-top: 35px;
}
.footer-info .footer-social {
    justify-content: center;
    display: flex;
}
.footer-info .footer-social-item {
    display: block;
    max-width: 60px;
}
.footer-info .footer-social-item > img {
    width: 100%;
    height: auto;
}
.footer-info .footer-social > li + li {
    margin-left: 20px;
}
.site-footer .site-footer-main + .site-footer-sub {
    margin-top: 60px;
}
.footer-copyright {
    color: #fff;
    font-size: 12px;
}
.site-footer-sub {
    text-align: center;
}
script {
    display: none;
}












